
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="~/Content/css/reset.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/navigation.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/animals.css">
	<title>Reserve - @ViewBag.Title</title>
</head>
<body>
	@{
		Html.RenderPartial("Main_Navigation_Bar");
	}

	<div id="page-container">
		<div id="animal-card-list-container">
			<ul id="animal-card-list">

				<template id="animal-card-template">
					<li class="animal-card-container" onclick="displayAnimalPage()">
						<img class="card-image" src="" alt="" />
						<div class="animal-card-info-container">
							<h2 class="animal-card-species"></h2>
							<p class="animal-card-desc"></p>
						</div>
					</li>
				</template>

				<li class="animal-card-container">
					<img class="card-image" src="~/Content/assets/images/animal_images/fox.jpg" />
					<div class="animal-card-info-container">
						<h2 class="animal-card-species">Red Fox</h2>
						<p class="animal-card-desc">
							Lorem Ipsum is simply dummy text of the printing and
							typesetting industry. Lorem Ipsum has been the industry's
							standard dummy text ever since the 1500s.
						</p>
					</div>
				</li>

				<li class="animal-card-container">
					<img class="card-image" src="~/Content/assets/images/animal_images/fox.jpg" />
					<div class="animal-card-info-container">
						<h2 class="animal-card-species">Red Fox</h2>
						<p class="animal-card-desc">
							Lorem Ipsum is simply dummy text of the printing and
							typesetting industry. Lorem Ipsum has been the industry's
							standard dummy text ever since the 1500s.
						</p>
					</div>
				</li>

			</ul>
		</div>

		<div id="animal-details-page">
			<!-- Display all the public information of the animal species -->
		</div>

	</div>

	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Content/js/animals_request.js"></script>

</body>
</html>
