
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="~/Content/css/reset.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/navigation.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/animals.css">
	<link rel="stylesheet" type="text/css" href="~/Scripts/swiper-js/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/animalsDetails.css">
	<title>Reserve - @ViewBag.Title</title>
</head>
<body>
	@{
		Html.RenderPartial("Main_Navigation_Bar");
	}

	<div id="page-container">
		<div id="animal-card-list-container">
			<ul id="animal-card-list">

				<template id="animal-card-template">
					<li class="animal-card-container" onclick="displayAnimalPage(this.id)">
						<img class="card-image" src="" alt="" />
						<div class="animal-card-info-container">
							<h2 class="animal-card-species"></h2>
							<p class="animal-card-desc"></p>
						</div>
					</li>
				</template>

			</ul>
		</div>

		<div id="animal-details-page">
			<!-- Display all the public information of the animal species -->
			<div class="swiper-container">
				<div id="image-roll" class="swiper-wrapper">
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
			</div>
			
			<div id="animal-details-wrapper">
				<h1 id="detail-animal-species"></h1>
				<p id="detail-animal-description"></p>
			</div>

		</div>

	</div>

	<script src="~/Scripts/swiper-js/swiper.min.js"></script>
	<script src="~/Content/js/animals_request.js"></script>

</body>
</html>
