@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<!-- Author: Kyle Roberts -->
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="~/Content/css/reset.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/navigation.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/forms.css">
	<title>Reverse - @ViewBag.Title</title>
</head>
<body>

	@{
		Html.RenderPartial("Main_Navigation_Bar");
	}

	<div id="page-container">
		<form id="form-container" action="/home/creature_add_insert" method="POST">

			<h1 id="form-title">Add Creature</h1>

			@if (ViewBag.ErrorMessage != null)
			{
				<div id="error-message-container">
					<h3 id="error-message">@ViewBag.ErrorMessage</h3>
				</div>
			}

			<h3 class="form-field-label">Nickname:</h3>
			<input class="form-text-field" type="text" name="Nickname" placeholder="Nickname" />

			<h3 class="form-field-label">Species:</h3>
			<select class="form-select" id="species-dropdown" name="SpeciesID">
				@foreach (KeyValuePair<int, string> species in ViewBag.SpeciesDictionary)
				{
					<option value="@species.Key">@species.Value</option>
				}
			</select>

			<button id="form-submit-button">
				Submit
			</button>

		</form>
	</div>
</body>
</html>
