<html>
<head>
	<!-- Author: Kyle Roberts -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="~/Content/css/reset.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/navigation.css">
	<link rel="stylesheet" type="text/css" href="~/Content/css/home.css">
	<title>Reverse - @ViewBag.Title</title>
</head>

<body>

	@{
		Html.RenderPartial("Main_Navigation_Bar");
	}


	<div id="page-container">

		<div id="homepage-wrapper">
			<header id="header-container">
				<div id="image-wrapper">
					<div id="gradient-cover">
						<h1>Canada's Wilderness</h1>
					</div>
				</div>
			</header>

			<div id="content-section-container">
				<p class="description-text">
					Canada lies within the fifteen terrestrial and five marine ecozones. The largest 
					marine ecozone is the Arctic Archipelago whereas the terrestrial ecozone is the 
					Boreal Shield. The main biomes of Canada are tundra, boreal forest, mixed forest, 
					broadleaf forest, prairies, Rocky Mountains, and temperate coniferous forests which 
					hosts significant biodiversity.
					In recent decades, human encroachment has posed a threat to Canada's wildlife; in 
					response National Wildlife Areas (NWAs) are set aside under the Canada Wildlife Act. 
					There are National Parks, National Wildlife Areas, as well as Migratory Bird Sanctuaries. 
					National parks protect natural regions in Canada. NWAs conserve habitats for species at risk. 
					Migratory bird sanctuaries protect the breeding grounds of migratory birds during the nesting season.
				</p>
			</div>

		</div>
	</div>

</body>

</html>