#animal-details-page {
	display: none;
	width: 100%;
	background-color: #fff;
}

#close-details-button{
	background-color: rgba(0,0,0,0.4);
	position: sticky;
	z-index: 2;
	display: flex;
	top: 20px;
	left: 20px;
	padding: 15px;
	border-radius: 50%;
	border: none;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

	#close-details-button:hover{
		transform: scale(1.1);
		transition: 0.3s;
	}

	#close-details-icon {
		width: 30px;
		height: 30px;
	}

.swiper-container {
	width: 100%;
	height: 500px;
	background-color: #eee;
	transform: translateY(-60px);
}

.swiper-slide {
	background-size: cover;
	background-position: center;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.7);
	background-color: transparent;
}

.swiper-pagination-bullet {
	width: 15px;
	height: 15px;
}

#animal-details-wrapper {
	transform: translateY(-60px);
	padding: 40px 60px;
	font-family: 'Lato', sans-serif;
}

#detail-animal-species {
	font-size: 40px;
	font-weight: 900;
}

#detail-animal-description {
	margin: 25px 0px 0px 0px;
	font-size: 28px;
	line-height: 1.3;
	color: #555;
}

#detail-stats-wrapper{
	display: flex;
	justify-content: center;
}

#population-tag, #breeding-season-tag{
	width: 50%;
	padding: 20px;
	display: flex;
	font-weight: 600;
	font-size: 28px;
	border-radius: 10px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	margin: 15px 0px 0px 0px;
	justify-content: center;
	align-items: center;
	margin: 40px 5px 20px 5px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.6);
}

#population-tag {
    background-color: #449356;
}

#breeding-season-tag {
    background-color: #b052b7;
}

.detail-tag-icon{
	width: 30px;
	height: 30px;
	margin: 0px 15px 0px 0px;
}

@media only screen and (max-width: 950px) {
	#detail-animal-description {
		font-size: 22px;
	}
}

@media only screen and (max-width: 600px) {
	.swiper-container {
		height: 350px;
	}

	#animal-details-wrapper {
		padding: 40px 30px;
	}

	#detail-animal-description {
		font-size: 22px;
	}

	#detail-stats-wrapper{
		display: block;
	}

	#population-tag, #breeding-season-tag{
		width: unset;
		margin: 40px 0px 20px 0px;
	}
}
