#form-container{
	font-family: 'Lato', sans-serif;
	padding: 40px;
	display: flex;
	flex-direction: column;
}

#error-message-container {
	border-radius: 5px;
	font-weight: 600;
	font-size: 20px;
	padding: 15px;
	background-color: #d73838;
	color: #fff;
}

#form-title{
	font-weight: 900;
	font-size: 40px;
	padding: 0px 0px 20px 0px;
}

.form-field-label{
	font-weight: 600;
	font-size: 30px;
	padding: 30px 0px 15px 0px;
}

.form-text-field, .form-textarea-field, .form-select{
	padding: 10px;
	font-size: 20px;
	width: calc(100% - 22px);
	transition: 0.3s;
	border: #ccc solid 1px;
	border-radius: 5px;
}

.form-select{
	width: 100%;
}

.form-textarea-field{
	height: 80px;
	min-height: 25px;
}

.form-text-field:focus, .form-textarea-field:focus, .form-select:focus{
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	color: #000;
}

#form-submit-button {
	border: none;
	width: 100%;
	background-color: #1864c9;
	font-weight: 900;
	font-size: 25px;
	border-radius: 5px;
	padding: 20px;
	margin: 20px 0px 0px 0px;
	color: #fff;
	transition: 0.3s;
}

#form-submit-button:hover {
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	background-image: linear-gradient(45deg, #1864c9, #00f);
}

@media only screen and (max-width: 800px){
	#form-container{
		padding: 40px 25px;
	}

	.form-text-field, .form-textarea-field{
		font-size: 18px;
	}

	.form-textarea-field{
		height: 120px;
	}

	#form-submit-button{
		width: 100%;
	}
}